

.titulo{
	color: white;
	background-color: #33BEBE;
	padding: 20px;
	font-size: 35px;
    font-family:serif;
    font-stretch: semi-expanded;
    padding-bottom: 10px;
}
.contenedor{
	width: 670px;
    margin: 0 auto;
}
.parrafo{
	display: flex;
	height: 220px;
	
}
.parrafo p{
	width: 360px;
	/**magin de la imagen y el texto**/
	margin: 27px 27px;
	color: #7C8B88;
	font-family:sans-serif;
	text-align: left;
	/**para separar las lineas de texto**/
	line-height:1.4;
	font-size: 17px;
}
.imagen{
	margin-top: 25px;
}
